[submodule "src/content/guides/first-year-guide"]
	path = src/content/guides/first-year-guide
	url = git@github.com:umanitoba-cssa/first-year-guide.git
[submodule "src/content/guides/second-year-guide"]
	path = src/content/guides/second-year-guide
	url = git@github.com:umanitoba-cssa/second-year-guide.git
