@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 222, 222, 222;
    --foreground: 255, 255, 255;
    --background: 3 13 31;

    --card: 0 0% 0% 0%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
}

body {
    color: rgb(var(--foreground-rgb));
    @apply bg-cssa-navy;
    @apply font-sans;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media only screen and (max-width: 901px) {
    .desktop-only {
        display: none !important;
    }
}

@media only screen and (min-width: 902px) {
    .mobile-only {
        display: none !important;
    }
}

h1 {
    @apply text-4xl font-bold font-sans;
}

h2 {
    @apply text-6xl font-bold font-sans;
}

h3 {
    @apply text-4xl font-bold font-sans;
}

h4 {
    @apply text-3xl font-bold font-sans;
}

p {
    @apply text-2xl font-sans;
}

li {
    @apply text-2xl font-sans;
}
